<h1>New Source</h1>
<form action="/sources" method="POST" >
    <div>
        <label for="_id">ID</label>
        <input type="text" id="_id" name="_id"
        required>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
        required>
    </div>
    <div>
        <label for="url">URL</label>
        <input type="text" id="url" name="url"
        required>
    </div>
    <div>
        <label for="language">language</label>
        <input type="text" id="language" name="language"
        required>
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" id="country" name="country"
        required>
    </div>
    <div>
        <label for="state">State</label>
        <input type="text" id="state" name="state"
        required>
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" id="city" name="city"
        required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/dashboard/sources/list">Return to Sources list</a>
<br>
<% if(locals.errors){ %>
    <b>Errors: <%= JSON.stringify(errors) %></b><br>
<% } %>

