<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(()=>{
		$('.remove-user').click((e)=>{
			let currentTarget = $(e.currentTarget).attr('data-value');
			$.ajax({
				url:"/users/"+currentTarget,
				method:'DELETE'
			})
			.then((data)=>{
				location.reload();
			})
			.catch((error)=>{
				alert(error.message);
			});
		});
	});
</script>
<div>
	<h1>Users</h1>
	<a href="/dashboard">Return dashboard</a>
	<a href="/dashboard/users/new">Create new user</a>
	<table>
		<thead>
			<th>
				Name
			</th>
			<th>
				Email
			</th>
			<th>
				Options
			</th>
		</thead>
	<tbody>
		<% for(let i = 0; i<users.length; i++){ %>
			<tr>
				<td><%= users[i].firstName+" "+users[i].lastName %></td>
				<td><%= users[i].email %></td>
				<td>
					<a href="/dashboard/users/update/<%=users[i]._id%>">Update</button>
					<button class="remove-user" data-value="<%=users[i]._id%>">Remove</button>
				</td>
			</tr>
		<% } %>
	</tbody>
	</table>
</div>