.login {

    width: 70%;

  .forgot > a {
    color: #7F85A2;
  }

  .login-bg {
    background: linear-gradient(-50deg, #03004D, #3563EB);
    display: flex;
    align-items: center;

    img.login-img {
      width: 100%;
    }

  }

  .login-h1 {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 450;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 30px !important;
  }

  .i-label {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;

  }

  .input-form-group {
    position: relative;
  }

  .input-icon {
    position: absolute;
    bottom: 9px;
    right: 15px;
  }

  .input-icon img {
    width: auto;
    height: 18px;
  }

  .input-form-group.form-group input {
    color: #7F85A2;
    border: 2px solid rgba(143, 146, 161, 0.2);
  }

  .input-form-group.form-group input::placeholder {
    color: #7F85A2;
  }

  .forgot a {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
  }

  button.login-btn:hover {
    color: black;
  }

  .register-btn {
    border: 2px solid rgba(143, 146, 161, 0.2);
    font-size: 16px;
    padding: 8px 8px 10px;

    &:hover {
      background: rgba(143, 146, 161, 0.2) !important;
      color: #6c757d !important;
      border: 2px solid rgb(233, 233, 236) !important;
    }
  }
  .social-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .social-div a:not(.sign-in-with) {
    background: #FFFFFF;
    border: 1px solid #ECECF2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7px 12px;
    margin: 5px;
    color: #8181A5;
    text-decoration: none;
  }
  .social-div a.sign-in-with{
    background: #FFFFFF;
    padding: 7px 12px;
    margin: 5px;
    color: #8181A5;
    font-size: 14px;
    text-decoration: none;
  }
  .login-sm-bg{
    display: none;
  }
.border-sm-div{
  display: none;
}

}
@media screen and (max-width:992px){
  .login-h1 {
    margin-top: 30px !important;
  }
  .info-div {
    padding: 30px !important;
  }
  .info-div form {
    margin-bottom: 0 !important;
  }
  .login {
    width: 80% !important;
  }

}
@media screen and (max-width:768px){

  .login  .login-bg {
    display: none !important;
  }
  .login .login-sm-bg{
    display: block !important;
    padding: 0 !important;
  }
  img.login-img {
    width: 100%;
  }
  .asatera-logo {
    display: none;
  }
  img.logo-sm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 100px;
  }
  .info-div {
    padding: 30px !important;
    padding-top: 0 !important;
  }

}
@media screen and (max-width:568px){
  .form-div-row {
    overflow: auto !important;
    border-radius: 0 !important;
  }
  .border-sm-div {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 50px;
    background: white;
    left: 0;
    z-index: 9999;
    top: -25px;
    border-radius: 30px 30px 0 0;
  }
  .login {
    margin: 0 !important;
  }
  .info-div {
    border-radius: 30px 30px 0 0 !important;
  }
}


